@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

html {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  margin-left: 5rem;

  bottom: 0;
}

h2 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

p {
  font-size: 2rem;
}

/*html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}/*

/*  Set the font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Paris {
  display: none;
}

#question1,
#question2,
#question3,
#question4,
#question5 {
  display: none;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top-box {
  background-color: black;
  height: 100px;
  text-align: center;
}

/*.titleContainer {
  padding: 1px;
  display: flex;
  flex-direction: row;
}*/

#scoreDiv {
  height: 100px;
  width: 180px;
  color: white;
  margin: 70px 30px 50px;
}

#start-screen {
  display: block;
  background-image: url("images/eiffel-tower-1839974_1280.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#game-screen {
  display: block;
  background-image: url("images/eiffel-tower-1839974_1280.jpg");

  height: 30%;

  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.second-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

#quizz {
  padding: 30px;
  font-size: 40px;
  color: white;
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.btn {
  font-size: 18px;
  text-align: center;
}

.true {
  border: solid 3px;
  background: #05845a;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 160px;
  letter-spacing: 5px;
  transition: all 0.4s ease-in-out;
  margin: 40px;
  outline: none;
}

.false {
  border: solid 3px;
  background: #e78414;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 160px;
  letter-spacing: 5px;
  transition: all 0.4s ease-in-out;
  margin: 40px;
  outline: none;
}

.btn {
  background: #d24bce;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 160px;
  letter-spacing: 5px;
  transition: all 0.4s ease-in-out;
  margin: 40px;
  outline: none;
}

button {
  font-size: 18px;
  text-align: center;
}

.container {
  box-sizing: border-box;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules {
  margin-top: 5rem;
  padding: 2rem;
  color: white;
  width: 25rem;
  height: 10rem;
  background-color: #97b327;
  border-radius: 20%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

main {
  max-width: 80vw;
  text-align: left;
  margin: 0 auto;
}

#game-screen {
  display: none;
}

#leftDiv {
  color: #3ef62a;
  font-size: 6rem;
  font-weight: bold;
}

#scoreDiv {
  display: flex;
  justify-content: flex-start;
  color: #d24bce;
  font-size: 6rem;
  font-weight: bold;
}

.score {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.questions {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

#end-game {
  display: none;
  width: 100%;

  text-align: center;
}

#score-final {
  font-size: 4rem;
  text-align: center;
}

#start-game {
  background: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 120px;
  text-decoration: none;
  border: solid 5px;
  outline: none;
}

.end-box {
  color: #d24bce;
  font-weight: bold;
  font-size: 4rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
